.grid {
  --grid-margin: var(--space-edge);
  --grid-gutter: 8px;
  --grid-columns: 12;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  width: 100%;
}

@media (max-width: 767px) {
  .grid {
    --grid-columns: 1;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    --grid-columns: 3;
  }
}
