---
import FooterShadows from '@components/FooterShadows.astro';
import { footerLinkGroups } from '@data/site';
---

<footer class="site-footer" data-footer>
  <div class="site-footer__inner">
    <FooterShadows />

    <div class="site-footer__content">
      <!-- Navigation -->
      <div class="site-footer__nav">
        {
          footerLinkGroups.map((group) => (
            <ul class="site-footer__links">
              {group.map(({ label, href }) => (
                <li>
                  <a href={href} class="site-footer__link">
                    {label}
                  </a>
                </li>
              ))}
            </ul>
          ))
        }
      </div>
    </div>
  </div>
</footer>
